/* ---------------- Anfang Custom Linkklassen ---------------------- */

a.pdf_link { 
	background-image: url(css-icons/icon_pdf.png); 
	background-repeat: no-repeat; 
	background-position: right; 
	padding-right: 18px; 
}

a.ext_link { 
	background-image: url(css-icons/icon_extern.png);
	background-repeat: no-repeat; 
	background-position: right bottom;
	padding-right: 16px;
}

a.email_link { 
	background-image: url(css-icons/icon_mail.png); 
	background-repeat: no-repeat; 
	background-position: right; 
	padding-right: 22px; 
}

a.ms_word_link { 
	background-image: url(css-icons/icon_word.png);
	background-repeat: no-repeat;
	background-position: right;
	padding-right: 22px;
}

a.ms_excel_link { 
	background-image: url(css-icons/icon_excel.png); 
	background-repeat: no-repeat; 
	background-position: right; 
	padding-right: 22px; 
}

a.ms_powerpoint_link { 
	background-image: url(css-icons/icon_powerpoint.png); 
	background-repeat: no-repeat; 
	background-position: right; 
	padding-right: 22px; 
}

a.tex_link { 
	background-image: url(css-icons/icon_tex.png); 
	background-repeat: no-repeat; 
	background-position: right; 
	padding-right: 24px;
}

a.compressed_file_link { 
	background-image: url(css-icons/icon_archiv.png); 
	background-repeat: no-repeat; 
	background-position: right; 
	padding-right: 22px; 
	line-height: 100%;
}

a.win_link { 
	background-image: url(css-icons/icon_win.png); 
	background-repeat: no-repeat; 
	background-position: right; 
	padding-right: 22px; 
}

a.linux_link { 
	background-image: url(css-icons/icon_tux.png); 
	background-repeat: no-repeat; 
	background-position: right; 
	padding-right: 22px; 
}

a.mac_link { 
	background-image: url(css-icons/icon_apple.png); 
	background-repeat: no-repeat; 
	background-position: right; 
	padding-right: 22px; 
}

a.solaris_link { 
	background-image: url(css-icons/icon_solaris.png); 
	background-repeat:no-repeat; 
	background-position:right; 
	padding-right:22px; 
}

a.java_link { 
	background-image: url(css-icons/icon_java.png); 
	background-repeat: no-repeat; 
	background-position: right; 
	padding-right: 22px;
}

a.sound_link { 
	background-image: url(css-icons/icon_sound.png); 
	background-repeat: no-repeat; 
	background-position: right; 
	padding-right: 24px; 
}

a.img_link { 
	background-image: url(css-icons/icon_bild.png); 
	background-repeat: no-repeat; 
	background-position: right; 
	padding-right: 22px; 
}

a.pgpkey_link { 
	background-image: url(css-icons/icon_pgp.png);
	background-repeat: no-repeat; 
	background-position: right; 
	padding-right: 22px; 
}