/* Version: 1.24 */
/* Aenderungen 31.01.11, Pat cramer, H6 verkleinert von 1,2em auf 1,0 em*/
/* Aenderungen 01.12.10, Pat Cramer, Miarbeiterübersicht Paragraph */
/* Aenderungen 23.11.09, Pat Cramer, div.video_links_mit_unterschrift (verhindert Frameborder im IE) */
/* Aenderungen 23.11.09, Pat Cramer, Zuständigkeit von A-Z */
/* Aenderungen 28.10.09, Pat Cramer, Webform Layout */
/* Aenderungen 15.6.09, Pat Cramer, Tabelle Background Klasse "hell_gruen" und "dunkel_gruen", Gruene Icon fuer Listen */

/* Zwischenversion */
/* Aenderungen 21.09.09, Pat Cramer, Tabellenlayout fuer Lehrveranstungsvorlage-ETIT, Zustaendigkeit A-Z */
/* Aenderungen 24.09.09, Sabine Hueser, Tabellenklassen umbenannt: lehrveranstaltungetit -> festeSpalten_hell_gruen */

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 80%;
	background-color: #fff;
	color: #000;
	padding: 0;
	border: 0;
}

* {
  margin: 0;
  padding: 0; 
}

/* Barrierefreiheit ********************************************************* */
div#sprungmarken {
	position: absolute;
	top: 3em;
	left: -999em;
	z-index: 500;
}

h1.navigationsueberschrift, h1#nebenueberschrift, h1#seitenueberschrift {
  display: none;
}
/* ************************************************************************** */

/* Layout ******************************************************************* */
div#bereichsnavi {
  color: #000;
  float: left;
  width: 16.3em;
}
div#bereichsnavi ul {

}

div#serviceZeile {
  color: Black;
  text-align: right;
  padding: 0.2em 0em 0.2em 0em;
  margin: 0 0 0.3em 0;
  height: 1.7em;
}
div#serviceNavi {
  float: right;
  font-size: 0.9em;
  padding: 0.3em 0.9em 0em 1em;  
}
div#direkteinstieg {
  float: right;
  margin-top: -0.1em;
}
div#kopfgrafikbereich {
  background: no-repeat right;
  height: 93px;
  position: relative;
}
div#hauptnavi {
  border: 0.4em solid #b2b3b6;
  border-bottom: 0.4em solid #b2b3b6;
  background-color: #b2b3b6;
  height: 1%;
}
div#hauptnavi a {
  text-decoration: none;
  letter-spacing: 0.2em;
}
div#brotkrumenNavi {
  margin-bottom: 0.4em;
}
div#inhalt {
  margin-left: 17.2em;
  margin-right: 17.2em;
  height: 1%;
}
div#fusszeile {
  clear: both;
  text-align: right;
  border-top: 0.5em solid #b2b3b6;
  color: #b2b3b6;
  padding-top: 0.3em;
  margin-bottom: 0.5em;
}
div#fusszeile ul {
  font-size: 0.9em;
}
div#kopfgrafikbereich, div#hauptnavi, div#contentwrapper, div#fusszeile {
  margin-left: 0.5em;
  margin-right: 0.5em;
}
/* ************************************************************************** */

/* Inhalte ****************************************************************** */
div#nebeninhalt {
  float: right;
  width: 16.3em;
}
/* Inhalte Textfarblich hinterlegen */
span.hellunterlegt {
 background-color: #e0eacc 
}
span.dunkelunterlegt {
 background-color: #649600 
}
div#inhalt_spalte_links {
  float: left;
  width: 49%;
  min-width: 15em;
  margin-right: 1%;
}
div#inhalt_spalte_rechts {
  float: right;
  width: 49%;
  min-width: 15em;
}
/* div, der um den Inhalt herumgelegt wird und einen Overflow hat, damit clearings im Inhaltsbereich noch funktionieren */
div#inhalt div.wrapper {
  overflow: auto;
  height: 100%;
	margin-bottom: 1em; 
	padding: 0 1em 0 1em;
	border-left: 1px solid #b2b3b6;
	border-right: 1px solid #b2b3b6;
	min-height: 15em;
}
div#contentwrapper {
  padding: 0.8em;
  border-left: 0.5em solid #b2b3b6;
  border-right: 0.5em solid #b2b3b6;
  height: 1%;
  min-width: 60em;
}
/* Wenn keine rechte Spalte vorhanden ist, wird diese Klasse vergeben, damit der Inhaltsbereich ueber die ganze Breite geht */
div.inhalt_breit {
  margin-right: 1em !important;
}
div.inhalt_breit div.wrapper {
  border-right: none !important;
}
/* ************************************************************************** */
/* Grafiken-Styling ********************************************************* */
img#unido-logo {
  margin-left: 1em;
}
/* ************************************************************************** */

/* Listen-Styling *********************************************************** */
div#brotkrumenNavi {
}
div#brotkrumenNavi ul {
  display: inline;
}
div#brotkrumenNavi ul li {
  display: inline;
}
div#brotkrumenNavi a {
  text-decoration: none;
  color: Black;
}
div#serviceZeile {
  
}

div#serviceZeile a {
  color: Black;
  text-decoration: none;
}

div#serviceNavi ul {
  display: inline;
}
div#serviceNavi ul li {
  display: inline;
}
div#fusszeile ul li.abstandshalter, div#serviceNavi ul li.abstandshalter {
  border-right: 1px solid Gray;
  margin-right: 0.3em;
}
div#serviceNavi form {
  display: inline;
  
}
div#serviceNavi input[type=text], div#serviceNavi input[type=submit] {
  font-size: 0.9em;
}

div#bereichsnavi a {
  text-decoration: none;
  color: #000;
  height: 1%;
}
div#bereichsnavi ul {
  list-style-type: none;
  height: 1%;
}
div#bereichsnavi ul li {
  margin-top: 0;
  margin-bottom: 0.4em;
  line-height: 1.3em;
  height: 1%;
}
div#bereichsnavi ul li span#clickable, div#bereichsnavi ul li span#notclickable {
  line-height: 1em; /* Firstline */
  height: 1%;
}
div#bereichsnavi ul li.aktiv {
  background-color: #e0eacc;
  height: 1%;
}
div#bereichsnavi ul li.aktiv ul {
  background-color: #e0eacc; 
}

div#bereichsnavi li.aktivKinder {
  background-color: #e0eacc;
}
div#bereichsnavi li.aktivKinder a, div#bereichsnavi span#aktivKinder {
  display: block;
  margin-bottom: 0.4em;
}
div#bereichsnavi li.aktivKinder ul li a {
  margin-bottom: 0;
}
div#bereichsnavi ul li.aktivKinder ul, div#bereichsnavi ul li.aktiv ul {
  padding-left: 1.3em;
}
div#bereichsnavi li.aktiv span.selected, div#bereichsnavi li.aktiv span.selected a, div#bereichsnavi li.aktiv span#aktivKinder {
  display: block;
  color: #fff;
  background-color: #649600;
  padding-left: 0.2em; 
  height: 1%;
}
div#hauptnavi {
  font-weight: bold;
  text-decoration: none;
/*  height: 1em; */
}
div#hauptnavi ul.hauptNavi {
  text-transform: uppercase;
}
div#hauptnavi ul.hauptNavi {
  display: inline;
}
div#hauptnavi ul.hauptNavi li {
  display: inline;
  float: left;
  background-color: White;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0.5em;
  padding-right: 0.3em;
  border: 1px solid #b2b3b6;
  border-right: 0.2em solid #b2b3b6;
}
div#hauptnavi span.hauptnaviDivider {
  margin-right: 0.2em;
  letter-spacing: 0.2em;
}
div#hauptnavi ul.hauptNavi li a {
  color: #7b7c7e;
}
div#hauptnavi ul.hauptNavi li#hauptnavi-aktiv, div#hauptnavi ul.hauptNavi li#hauptnavi-aktiv a {
  color: #649600;
  letter-spacing: 0.2em;
}

div#fusszeile ul {
  display: inline;
  margin-right: 0.5em;
}
div#fusszeile ul li {
  color: #000;
  display: inline;
}
div#fusszeile a {
  color: #000;
}

div#direkteinstieg form {
  display: inline;
}
div#direkteinstieg label {
  color: White;
}
div#direkteinstieg form {
  position: relative;
}
div#direkteinstieg select {
  font-size: 0.9em;
  margin-left: 0.3em;
}
div#direkteinstieg input[type=button] {
  font-size: 0.9em;
}

ul.linkliste {
  list-style-image: url(css-icons/tu-liste.png);
}

ul.linkliste ol {
    list-style-image: none;
}

/* Kindnavigation */
ul li.kindNaviOrdner {
  list-style: none; 
  list-style-image: none;
  margin-top: 0.3em;
  margin-bottom: 0.5em;
}
ul li.kindNaviOrdner {
  list-style: none; 
  list-style-image: none;
  
}
ul li.kindNaviOrdner span.kindNaviOrdnerName {
  margin-left: -1em;
  font-weight: bold;
}
/* Listen im Inhaltsbereich */
div#inhalt ul, div#nebeninhalt ul li, div#inhalt ol, div#nebeninhalt ol li {
  line-height: 1.4em;
}
/* Listen mit gruenen Punkt im Inhaltsbereich */
div#inhalt ul, div#nebeninhalt ul li {
  list-style-image: url(css-icons/tu-liste.png);
}
/* Listen im Inhalt Mitarbeiter Alphabestisch, nummerische Aufzaehlung in einer Liste */
div#inhalt ul li.namefloat, ul ol {
  list-style-image: none;
}
/* ************************************************************************** */

/* HTML-Elemente ************************************************************ */
h2, div#bereichsnavi ul li.toplevel span#notclickable, div#bereichsnavi ul li.toplevel span#clickable {
  background-color: White;
  line-height: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 1.2em;
  margin-top: 1em;
  color: #7b7c7e;
}
h2, div#bereichsnavi ul li.toplevel span#notclickable, div#bereichsnavi ul li.toplevel span#clickable {
  display: block;
}
h2 {
  margin-top: 1em;
  clear: both;
}
h3 {
  color: #649600;
  font-size: 1.2em;
  margin-top: 0.3em;
  margin-bottom: 0.5em;
  font-weight: bold;
}
h4 {
  font-size: 1em;
  margin-bottom: 0.5em;
  font-weight: bold;
}
h5 {
  color: #649600;
  font-size: 1.2em;
  margin-bottom: 0.5em;
  font-weight: normal;
}
h6 {
  color: #649600;
  font-size: 1.0em;
  margin-bottom: 0.5em;
  font-weight: normal;
}

div#inhalt p, div#inhalt ul, div#inhalt ol, div#nebeninhalt p, div#nebeninhalt ul, div#nebeninhalt ol, div#inhalt div, div#nebeninhalt div, hr {
  margin-bottom: 0.5em;
}
div#inhalt ul ul, div#inhalt ol ol {
  margin-bottom: 0;
}
div#inhalt p, div#nebeninhalt p {
  line-height: 1.4em;
}
hr {
  height: 1px;
  background-color: #649600;
  color: #649600;
  border: 0; 
}
/* Werbung und Partnerlogos ************************************************* */
div#werbung, div#partner {
	font-size: 0.9em;
	margin-top: 2em;
  margin-bottom: 1.5em;
  margin-left: 0.4em;
  padding-bottom: 15px;
}
div.werbung_horizontal, div.werbung_horizontal_portal {
  border: 1px solid #649600;
	font-size: 0.9em;
	text-align: center;
  margin-bottom: 1.5em;
  padding-bottom: 15px;
}
div.werbung_horizontal {
  margin-top: 15px;
}

div#werbung a {
	background-color: White;
}
div#partner {
  padding-top: 15px;
}
/* ************************************************************************** */
/* Tabellen ***************************************************************** */
div#inhalt table {
  border: 1px solid #999;
}
div#inhalt th {
	background-color: #eee;
	vertical-align: middle;
	padding: 0.3em;
}
div#inhalt table caption { 
  font-weight: bold;
}
div#inhalt tr {
	border-bottom: 1px solid #7192a8;
}
div#inhalt td {
	padding: 0.3em;
}
/* Tabelle Hintergrundfarben hell_ und dunkel_gruen */
div#inhalt th.hell_gruen, td.hell_gruen {
	background-color: #e0eacc;
}
div#inhalt th.dunkel_gruen, td.dunkel_gruen {
	background-color: #649600;
	color: #FFFFFF;
}
div#inhalt td p {
	margin: 0 0 1em 0;
}
/* ************************************************************************** */
/* Bilder-Styling *********************************************************** */
img, input[type=image] {
  font-size: 10px;
}
div#serviceZeile input[type=submit], div#direkteinstieg input[type=button] {
  background-color: White;
  border: 1px solid #7b7e7c;
}
img.bild_links {
  float: left;
}
a img {
  border: none;
}
/* ************************************************************************** */
/* Ebene-Logos-Styling ******************************************************** */
img#ebene2-logo {
  position: absolute;
  bottom: 0.8em;
  padding-left: 6em;
  font-size: inherit;
}
img#ebene2-fk-logo {
  display: block;
}
img#ebene3-ls-logo {
  display: block;
  margin-top: 7px;
}
span#ebene-logos {
  position: absolute;
  bottom: 0.8em;
  padding-left: 6em;
  font-size: inherit;
}
/* Anfang Bildausrichtung mit Bildunterschrift */
img.bild_rechts {
	float: right;
	margin-left: 15px;
}
img.bild_links, img.bild_links_ohne_umfluss {
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
}
div.bild_mit_text {
	margin-bottom: 15px;
}
div.bild_mit_text p {
	margin-bottom: 0;
}
div.bild_rechts_mit_unterschrift {
	float: right;
	font-size: 10px;
	margin: 0;
	margin-left: 15px;
	margin-bottom: 15px;
	width: 40em;
	margin-top: 0.5em;
	text-align: left;
	overflow: inherit;
}
div.bild_rechts_mit_unterschrift p {
	padding-left: 0.5em !important;
	padding-right: 0.5em !important;
	font-size: 1.1em !important;
	border: 1px solid #7b7e7c;
}
div.video_links_mit_unterschrift {
	float: left;
	font-size: 10px;
	padding: 0;
	margin: 0;
	margin-right: 15px;

	margin-bottom: 15px;
	width: 40em;
	margin-top: 0.5em;
	text-align: left;
	overflow: hidden;
}
div.bild_links_mit_unterschrift, div.bild_links_mit_unterschrift_ohne_umfluss {
	float: left;
	font-size: 10px;
	padding: 0;
	margin: 0;
	margin-right: 15px;
	margin-bottom: 15px;
	width: 40em;
	margin-top: 0.5em;
	text-align: left;
	overflow: inherit;
}
div.bild_links_mit_unterschrift p, div.bild_links_mit_unterschrift_ohne_umfluss p {
	padding-left: 0.5em !important;
	padding-right: 0.5em !important;
	font-size: 1.1em !important;
	border: 1px solid #7b7e7c;
}
div.bild_links_mit_unterschrift img, div.bild_links_mit_unterschrift_ohne_umfluss img, div.bild_rechts_mit_unterschrift img {
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
}
div.bild_links_mit_unterschrift p, div.bild_rechts_mit_unterschrift p, div.bild_links_mit_unterschrift_ohne_umfluss p {
	margin-top: 0 !important;
	padding-top: 0.5em;
	max-width: 100%;
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-bottom: 0.5em;
}

div.bild_links_mit_unterschrift_ohne_umfluss, img.bild_links_ohne_umfluss {
  float: none;
}

div#teaserbild_mit_beschriftung {
	float: left;
	font-size: 0.8em;
	padding: 0;
	margin: 0;
	font-style: oblique;
	margin-bottom: 10px;
	margin-right: 10px;
	padding: 10px;
	margin-top: 10px;
	background-color: #fff;
}
div#teaserbild_ohne_beschriftung {
	float: left;
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-top: 10px;
}
img.mitarbeiter_foto {
  float: right; 
  margin-bottom: 0.5em; 
  margin-right: 0.5em;
}
div.aktuelles_meldung img.bild_links {
  margin-bottom: 0;
}
/* ************************************************************************** */

/* Aktuelle Meldungen ******************************************************* */
div#inhalt div.aktuelles_meldung, div#nebeninhalt div.aktuelles_meldung {
	margin-bottom: 1em;
	clear: both;
}
/* ************************************************************************** */

/* Personen-Listen ********************************************************** */
ul.seitenlinks li {
display: inline;
margin-right: 1em;
list-style-type: none;
}
ul li.namefloat {
float: left;
list-style-type: none;
width: 20em;
}
/* ************************************************************************** */

/* Styles-Farbgebung ******************************************************** */
div#inhalt h4, div#inhalt h5, div#inhalt h6,
div#nebeninhalt h4, div#nebeninhalt h5, div#nebeninhalt h6 {

}
a {
  color: #b2b3b6; 
}

div#inhalt a, div#nebeninhalt a {
  color: black;
}
/* ************************************************************************** */
/* Mitarbeiter-Detailseiten ************************************************* */
fieldset.kontaktdaten {
	padding: 0.3em;
}
fieldset.kontaktdaten legend {
	font-weight: bold;
	color: #000000;
}
/* Mitarbeiter Uebersicht mehrzeilig mit Bild */
div.mitarbeiter_uebersicht div.paragraph {
line-height: 1.4em;
margin-bottom: 0.5em;
}
/* ************************************************************************** */
/* Styles Abstaende ********************************************************* */
div#inhalt ul, div#inhalt ol, div#nebeninhalt ul, div#nebeninhalt ol {
  display: table;
  height: 1%;
  padding-left: 1.3em;
}

div#inhalt ol, div#nebeninhalt ol {
  padding-left: 2em;
}
/* ************************************************************************** */

/* Hover-Links und Focus-Cursor ********************************************* */ 
a:focus, div#hauptnavi ul.hauptNavi li a:focus {
  color: White !important;
  background-color: #649600;
}
a:hover, div#hauptnavi ul.hauptNavi li a:hover {
  color: White !important;
  background-color: #649600;
}
a:link:hover, a:visited:hover, a:focus, a:active {
  color: White !important;
  background-color: #649600;
}

/* Sichtbarmachung der Sprungmarken-Navigation durch Tab-Fokus */
div#sprungmarken a:focus, div#sprungmarken a:active {
	position: absolute;
	left: 1000em;
	top: 0;
	white-space: nowrap;
	z-index: 99;
	background-color: White;
	color: Black !important;
	font-weight: bold;
	padding: 1em;
}

/* ************************************************************************** */

/* Allgemein verwendbar ***************************************************** */
.blocksatz {
  text-align: justify;
}
.uppercase {
  text-transform: uppercase;
}
.clear {
  clear: both;
}
br.clear, div.clear {
	clear: both;
	font-size: 1px;
}
br.clearleft {
  clear: left;
  font-size: 1px;
}
pre, code {
	font-family: 'Lucida console', 'Courier new', Courier, mono;
	font-size: 1em;
	padding-right: 0.5em;
	padding-left: 0.5em;
	border: 1px solid #b2b3b6;
	background-color: #fdfdfd;
}
code {
	font-size: 1em;
  padding-top: 0.1em;
	padding-right: 0.5em;
	padding-left: 0.5em;
	line-height: 1.5em;
}
p code {
  font-size: 1em;
}
p.teaser {
	font-weight: bold;
}
/* ************************************************************************** */

/* FAQ-Darstellung ********************************************************** */
div#inhalt ul.faq-details-liste {
  list-style-type: none;
    padding-left: 0;
}
div#inhalt ul.faq-details-liste li {
  display: inline;
}
/* ************************************************************************** */
/* ************************************************************************** */
/* Tabellen mit gleichbreiten Spalten, u. a. fuer Lehrveranstaltungsvorlage ETIT *** */
div#inhalt table.festeSpalten_hell_gruen {
  border: 1px solid #999;
  width:100%;
  table-layout:fixed;
  vertical-align: top;
}
div#inhalt table.festeSpalten_hell_gruen th {
	background-color: #e0eacc;
	vertical-align: top;
	text-align:center;
	padding: 0.3em;
}
div#inhalt table caption { 
  font-weight: bold;
}
div#inhalt table.festeSpalten_hell_gruen tr {
	border-bottom: 1px solid #7192a8;
	vertical-align: top;
}
div#inhalt table.festeSpalten_hell_gruen td{
	padding: 0.3em;
	background-color: #ffffff;
	width:20%;
	vertical-align:top;
	}
/* ************************************************************************** */
/* Webform Layout *********************************************************** */
div#inhalt form.webform label{
        float:left;
        width: 10em;
}

div#inhalt form.webform{
        width:100%;
      }

div#inhalt form.webform input[type=text], div#inhalt form.webform select, div#inhalt form.webform textarea{
           background:#e0eacc;
           border:1px solid #e0eacc;
           margin:1px 0 2px;
}

div#inhalt form.webform input[type=submit], div#inhalt form.webform input[type=reset]{
	float:left;
	background:#649600;
	width:100px;
	color:#ffffff;
	border: 1px solid #7b7e7c;
	margin-top: 4px;
	margin-right: 10px;
	margin-bottom: 0;
	margin-left: 0;
	padding-top: 0;
	padding-right: 2px;
	padding-bottom: 0;
	padding-left: 2px;
}

/* ************************************************************************** */
/* ************************************************************************** */
/* Listen von A-Z */
/* Listen von A-Z Mitarbeiter */
div#inhalt ul.lstBuch a{
	text-decoration:none;
}
div#inhalt ul.lstBuch li{
	line-height: 1.4em;
	color:#649600;
	font-weight:bold;
	text-decoration:none;
	list-style-image:none;
	float: left;
	list-style-type: none;
	width: 1.5em;
}
div#inhalt ul.lstBuchZust{
	font-weight: bold;
	list-style-type: none;
	/* width: 20em;*/
}
div#inhalt ul.lstBuchZust_level2{
	line-height: 1.4em;
	list-style-type: none;
	list-style-image: none;
	color:#649600;
	font-weight:bold;
	padding-bottom: 1em;
}
div#inhalt ul.lstBuchZust_level2 a{
	line-height: 1.4em;
	list-style-type: none;
	color:#649600;
	font-weight:bold;
	text-decoration:none;
}

div#inhalt ul.lstBuchZustMa {
	font-weight:bold;
	text-decoration:none;
	list-style-image:none;
	list-style:none;
}
div#inhalt ul.lstBuchZustMa a{
	text-decoration:none;
	list-style-image:none;
	list-style:none;
}
div#inhalt li.lstBuchZustMa{
	font-weight: bold;
	list-style-type: none;
	width: 1em;
}
div#inhalt ul.lstBuchZustMa_level2 {
	color:#649600;
	font-weight:bold;
	list-style-type: none;
	list-style-image:none;
	background-color:#fff;
	padding-left: 1em;
	padding-bottom: 2em;
}
div#inhalt ul.lstBuchZustMa_level3 li {
	text-decoration:none;
	list-style-image:none;
	background-color:#e0eacc;
	font-weight:bold;
	float: left;
	list-style-type: none;
	width: 20em;
	padding-left: 1em;
}
div#inhalt ul.lstBuchZustMa_level3 a{
	color:#666666;
}
